body{
    font-family: BYekan;
}
h1,h2,h3,h4,h5,h6{
    font-family: BYekan;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: auto;
    font-family: BYekan;
}

.skin-blue .main-header .navbar {
    font-family: BYekan;
}
.modal-body .table td{
    text-align: right !important;
}
.sidebar-menu li>a>.fa-angle-left {
    position: absolute;
    left:10px;
}
