.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-radius: 0;
    border:1px solid #c9d1d7;
}
body{
    font-family: BYekan;
    background: #f3f3f3 none repeat scroll 0 0;
    color: #33373d;
    font-size: 15px;
    line-height: 1.4285em;
    margin: 0;
    min-width: 320px;
    overflow-x: hidden;
    padding: 0;
}
.display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
#header {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;
    height: auto;
    min-height: 100px;
}
#header .logo-header {
    border-radius: 4px;
    font-family: sans-serif;
    background-color: #cb202d;
    text-align: center;
    color: #ffffff;
    height: 66px;
    font-weight: bolder;
}
#footer{
    margin-top: 10px !important;
}
.res-name .ui.header {
    font-family:BYekan !important;
}
.res-info-left h2 {
    font-family: BYekan;
}
#res-info-left{
    font-family: BYekan;
}
.ui.menu {
    font-family: BYekan;
}
.ui.segments:first-child {
    padding: 15px;
}
.photosContainer:not(.header-photo-grid) .resinfo-photo-overlay {
    bottom: 1px;
}
.photobox .res-photo-thumbnail.ui.card {
    width: 100% !important;
    height: 115px !important;
}
.rrw-aggregate {
    border-radius: 0.285714rem;
    color: #fff;
    float: right;
    font-size: 23px;
    font-weight: normal;
    line-height: 39px;
    width: 80px;
}
.ui.segments>.segment {
    padding-bottom: 0;
}
h1, h2, h3, h4, h5 {
    font-family: BYekan;
    line-height: 1.1em;
    margin: calc(2rem - .05em) 0 1rem;
    font-weight: 600;
    padding: 0;
}
.ui.list .list>.item .header, .ui.list>.item .header {
    font-family: BYekan;
}
#nearby-container div.col-l-16:last-child{
    border: 0 !important;
}
.ui.header {
    border: none;
    margin: calc(2rem - .05em) 0 1rem;
    padding: 0;
    font-family: BYekan;
    font-weight: 600;
    line-height: 1.1em;
    text-transform: none;
    color: #33373D;
}
.pagination {
    margin: 30px 0 0 0;
    direction: rtl;
}
ul.pagination li a,ul.pagination li.disabled span,ul.pagination li.active span{
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fff 0%, #efefef 100%) repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #666;
    font-weight: normal;
    line-height: 20px;
    margin: 0 2px 0 2px;
    min-width: 14px;
    padding: 3px 12px;
    direction: rtl;
    text-align: center;
}
ul.pagination li.active span:hover{
    background-color: #333;
    color: #FFFFFF;

}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    margin-right: 1px;
    border-radius: 4px;
}
ul.pagination li.disabled span{
    background: none;
    border: 1px solid #666666;
    background-color: #666666;
    color: #ffffff;
    border-radius: 4px;
}
ul.pagination li.active span{
    background: none;
    border: 1px solid #666666;
    background-color: #666666;
    color: #ffffff;
    border-radius: 4px;
}
#footer .social-container .social-icons span.fa{
    position: relative;
    right:6px;
    top:7px;
}
#footer .social-container .social-icons {
    float: right;
    margin: 22px 3px 10px;
    font-size: 16px;
    width: 27px;
    height: 28px;
    border-radius: 50%;
    background: rgba(0,0,0,.3);
    color: #cdcdcd;
    -webkit-transition: .3s ease-in background;
    transition: .3s ease-in background;
}
#footer .last-footer-column {
     margin: 0px 10px 0!important;
    padding: 0;
    border-top: 1px solid #3C3F46;
    border-bottom: 1px solid #3C3F46;
}
.ui.header .sub.header {
    display: block;
    font-weight: 400;
    padding: 0;
    margin: 10px 0 0;
    line-height: 1.2em;
    color: #89959B;
}
.h-city-home-title {
    text-align: center;
    z-index: 1;
    position: relative;
    text-rendering: optimizeLegibility;
    font-size: 30px;
    line-height: 1.3em;
    padding: 0 15px 25px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    color: #fff;
    font-weight: bolder !important;
}
.ui.button {
     font-family: 'BYekan';
}
.logo--home .logo--header {
    color: #fff;
    font-family: tahoma;
    font-weight: bold;
    font-size: 25px;
}
.no-padding {
    padding-right: 5px;
    padding-left: 5px;
}
.no-padding-right {
    padding-right: 5px;
}
.no-padding-left {
    padding-left: 5px;
}
.border-red {
    border: 1px solid red !important;
    color: red !important;
}
.border-green {
    border: 1px solid green !important;
    color: green !important;
}
.mbot .panel-default>.panel-heading {
    color: #333;
    border-color: #ddd;
    background-color: #ffffff;
}
.profile-zone {
    margin: 10px 0;
}
.profile-zone .panel .panel-body {
    outline: 1px solid #F0F0F0;
    border-radius: 10px;
    padding-bottom: 25px;
}
.profile-zone h2{
    margin:30px 0 0 0 ;
    font-family: BYekan;
    font-size: 250%;
    color: #000;
}
.profile-zone img {
    border: 1px solid #CCCCCC;
    padding: 3px;
    height: 180px;
    width: 180px;
}
.caret {
    margin: 0 5px !important;
}
@media (min-width: 992px) {
    .col-l-1by3 {
        width: 50%;
    }
}
.pb20, .pbot {
    padding-bottom: 0px;
}
.has-error label,.has-error .form-control{
    color: #802000 !important;

}
.btn{
    border-radius: 0;
}
.custombox-modal{
    text-align: right;
}
