.display-none{
    display: none;
}
.ajax{
    position: absolute;
    top: 40%;
    right: 50%;
}
ul ,li{
    list-style: none;
}
.btn{
    font-size: 12px;
}
label{
    /*font-weight: normal;*/
}
body{
    font-family: byekan;
    font-size: 12px;
    background-color: #f9f9f9;
    color: #33373d;
}
a,a:focus,a:hover{
    text-decoration: none;
}
.required {
    color: #ff5a5f;
    position: relative;
    bottom: 5px;
}
h1,h2,h3,h4,h5,h6{
    font-family: byekan;
}
#main-content{
    margin: 20px 0;
}
#content .panel .panel-heading{
    border-bottom: 1px solid #e7e7e7;
}
#content .panel .panel-heading a{
    /*color: #97a0b3;*/
}
#content .panel .panel-body{
    min-height: 400px;
    height: auto;
    color: #000;
}
#content h4{
    font-size: 15px;
    font-weight: bold;
}
#sidebar .panel .panel-heading{
    background-color: #4f4f4f;
    color: #ffffff;
}
#sidebar .panel .panel-heading:hover{
    background-color: #444;
    color: #ffffff;
}
#sidebar .panel h4.panel-title{
    font-size: 14px;
}
#sidebar .panel h4.panel-title a:hover{
    color: #CCCCCC;
}
#sidebar .panel{
    border: 1px solid #e7e7e7;
}
#sidebar .panel .list-group-item{
    border: 0;
    border-top:1px solid #e7e7e7 ;
    font-size: 12px;
    font-weight: bold;
}
#sidebar .panel .list-group-item:first-child{
    border-top: 0;
}
#content .panel{
    border: 1px solid #e7e7e7;
}
.pagination {
    margin: 10px 0 0;
}
ul.pagination li a, ul.pagination li.disabled span, ul.pagination li.active span {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fff 0%, #efefef 100%) repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 3px;
    /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
    color: #4f4f4f;
    font-weight: normal;
    line-height: 20px;
    margin: 0 2px;
    min-width: 14px;
    padding: 0 6px;
    text-align: center;
}
ul.pagination li.active span:hover {
    background-color: #4f4f4f;
    color: #ffffff;
    border: 1px solid #4f4f4f;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 4px;
    margin-right: 1px;
}
ul.pagination li.disabled span {
    background: #4f4f4f;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    color: #ffffff;
}
ul.pagination li.active span {
    background: #4f4f4f;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    color: #ffffff;
}
#content .table thead th,td{
    text-align: center;
}
#content .table thead a{
    color: #52535b;
    font-size: 13px;
}
#content .panel .panel-heading div.pull-left a{
    margin-left: 5px;
    /*font-size: 15px;*/
    padding: 0;
    margin-bottom: 0;
    color: #4f4f4f;
}
/*a.has-sort{*/
    /*background: url("../img/sort_both.png") left no-repeat;*/
    /*padding-left: 20px;*/
    /*cursor: pointer;*/
/*}*/
a.ASC-sort{
    background: url("../img/sort_asc.png") left no-repeat;
    padding-left: 20px;
    cursor: pointer;
}
a.DESC-sort{
    background: url("../img/sort_desc.png") left no-repeat;
    padding-left: 20px;
    cursor: pointer;
}


.tree ul li,.tree-checkbox ul li {
    font-family: byekan;
}
.jstree-proton.jstree-rtl .jstree-node {
    background: none !important;
}
.form-control,.select2-container--default .select2-selection--single{
    border-radius: 0;
    border: 1px solid #aaa;
}
#content .panel .panel-body{
    padding: 5px 15px;
}
.text-success{
    color:#49c668;
}
.text-danger{
    color: #ff5a5f;
}
.has-error .form-control{
    border: 1px solid #ff5a5f;
}
.has-error .select2-container--default .select2-selection--single{
    border: 1px solid #ff5a5f;
}
.has-error label,p.has-error{
    color: #ff5a5f;
}
.error{
    font-weight: normal;
    color: #ff5a5f;
}
